<div id=<%= type %> class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3><%= "[ #{name} ]の値段を選択" %></h3>
  </div>
  <div class="modal-body">
    <%= image_tag "#{type}.png", {alt: name, width: 128, height: 128} %>
    <div>
      <%# ヨコに並べたい... %>
      <% for price in prices do %>
        <%= form_tag zaim_pay_url do %>
          <%= hidden_field_tag :category_id, category_id %>
          <%= hidden_field_tag :genre_id, genre_id %>
          <%= hidden_field_tag :price, price %>
          <button class="btn btn-primary" type="submit">
            <%= "約#{price}円" %>
          </button>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
